/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

header{
    text-align: center;
   
}


.photos{
    margin-bottom: 15px;
}

.collage{
    width: 860px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}


